{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Teste</title>
</head>
<body>
    

    {% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}"> {{question.question_txt}} </a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p> No polls are available</p>
    {% endif %}
        
    <p><a href="http://127.0.0.1:8000/admin/"> click here to go admin page.</a></p>
</body>
</html>


















